{% if section.settings.overlay == "black" %}
{% assign bg_hex = "#000000" %}
{% elsif section.settings.overlay == "background1" %}
{% assign bg_hex = "{{ background1_color }}" %}
{% elsif section.settings.overlay == "background2" %}
{% assign bg_hex = "{{ background2_color }}" %}
{% elsif section.settings.overlay == "background3" %}
{% assign bg_hex = "{{ background3_color }}" %}
{% elsif section.settings.overlay == "accent1" %}
{% assign bg_hex = "{{ accent1_color }}" %}
{% elsif section.settings.overlay == "accent2" %}
{% assign bg_hex = "{{ accent2_color }}" %}
{% endif %}

{% if section.settings.opacity == "0" %}
{% assign bg_opacity = "00" %}
{% elsif section.settings.opacity == "10" %}
{% assign bg_opacity = "1A" %}
{% elsif section.settings.opacity == "20" %}
{% assign bg_opacity = "33" %}
{% elsif section.settings.opacity == "30" %}
{% assign bg_opacity = "4D" %}
{% elsif section.settings.opacity == "40" %}
{% assign bg_opacity = "66" %}
{% elsif section.settings.opacity == "50" %}
{% assign bg_opacity = "80" %}
{% elsif section.settings.opacity == "60" %}
{% assign bg_opacity = "99" %}
{% elsif section.settings.opacity == "70" %}
{% assign bg_opacity = "B3" %}
{% elsif section.settings.opacity == "80" %}
{% assign bg_opacity = "CC" %}
{% elsif section.settings.opacity == "90" %}
{% assign bg_opacity = "E6" %}
{% elsif section.settings.opacity == "100" %}
{% assign bg_opacity = "FF" %}
{% endif %}

{% if section.settings.textbox_color == "black" %}
{% assign tb_hex = "#000000" %}
{% elsif section.settings.textbox_color == "background1" %}
{% assign tb_hex = "{{ background1_color }}" %}
{% elsif section.settings.textbox_color == "background2" %}
{% assign tb_hex = "{{ background2_color }}" %}
{% elsif section.settings.textbox_color == "background3" %}
{% assign tb_hex = "{{ background3_color }}" %}
{% elsif section.settings.textbox_color == "accent1" %}
{% assign tb_hex = "{{ accent1_color }}" %}
{% elsif section.settings.textbox_color == "accent2" %}
{% assign tb_hex = "{{ accent2_color }}" %}
{% endif %}

{% if section.settings.textbox_opacity == "0" %}
{% assign tb_opacity = "00" %}
{% elsif section.settings.textbox_opacity == "10" %}
{% assign tb_opacity = "1A" %}
{% elsif section.settings.textbox_opacity == "20" %}
{% assign tb_opacity = "33" %}
{% elsif section.settings.textbox_opacity == "30" %}
{% assign tb_opacity = "4D" %}
{% elsif section.settings.textbox_opacity == "40" %}
{% assign tb_opacity = "66" %}
{% elsif section.settings.textbox_opacity == "50" %}
{% assign tb_opacity = "80" %}
{% elsif section.settings.textbox_opacity == "60" %}
{% assign tb_opacity = "99" %}
{% elsif section.settings.textbox_opacity == "70" %}
{% assign tb_opacity = "B3" %}
{% elsif section.settings.textbox_opacity == "80" %}
{% assign tb_opacity = "CC" %}
{% elsif section.settings.textbox_opacity == "90" %}
{% assign tb_opacity = "E6" %}
{% elsif section.settings.textbox_opacity == "100" %}
{% assign tb_opacity = "FF" %}
{% endif %}



<section class="video-hero section-{{ section.id }} container-fluid gx-0">

    <div class="video-container{% if section.settings.video_url == blank and section.settings.video == blank %}{% if section.settings.fallback_img != blank %} bg-image{%else%} bg-color{% endif %}{% endif %}{%if section.settings.tb_down == true %} d-none d-lg-block{%endif%} mobile-{{ section.settings.mobile_section_height }}">
        {% if section.settings.video_url != blank or section.settings.video != blank %}
        {% if section.settings.video_url != blank %}
            {% if section.settings.video_url contains "youtube" %}
            <iframe class="video-hero_yt" width="100%" height="100%"
            src="{{ section.settings.video_url }}?autoplay=1&mute=1&control=0&loop=1&playlist={{ section.settings.video_url | remove: "https://www.youtube.com/embed/" }}" title="YouTube video player" controls=0 muted=1 frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loop>
            </iframe>
            {% elsif section.settings.video_url contains "vimeo" %}
            <iframe src="{{ section.settings.video_url }}?autoplay=1&mute=1&control=0&loop=1" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            {% endif %}
        {% endif %}
        <video id="video" poster="{{ section.settings.fallback_img | image_url }}" autoplay muted loop playsinline>
            {% if section.settings.video != blank %}
            {% if section.settings.video contains ".mp4" %}
            <source src="{{ section.settings.video | image_url }}" type="video/mp4" />
            {% elsif section.settings.video contains ".webm" %}
            <source src="{{ section.settings.video | image_url }}" type="video/webm" />
            {% endif %}
            <img class="video_fallback" src="{{ 'section.settings.fallback_img' | image_url  }}" width="100%" height="100%" alt="Video with IE8 fallback" title="No video playback capabilities, please download the video below" />
            {% endif %}
        </video>
        {% endif %}
        </div>
        {%if section.settings.tb_down == true %}
        <div class="video-container mobile-tb-down d-block d-lg-none" style="height: 50vh;
        background: url({{ section.settings.fallback_img | image_url }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;"></div>
        {%endif%}
        <div class="hero_content{%if section.settings.video != blank or section.settings.video_url != blank %}-video{% endif %}{%if section.settings.tb_vertical == "start" %} tb-top{%endif%} d-flex flex-column justify-content-{{ section.settings.tb_vertical }}{% if section.settings.tb_down == true %} tb-down{% else %} tb-up tb-up-{{ section.settings.mobile_section_height }}{% endif %}">
        <div class="container">
        <div class="row text-row justify-content-center align-items-center justify-content-lg-{{ section.settings.tb_horizontal }} text-{{ section.settings.text_alignment }}">
            <div class="col-10 col-lg-{{ section.settings.container_size }}{%if section.settings.tb_desktop == true %} hero-text-box{% endif %} px-4 py-5 px-lg-5 py-lg-5">
                {% if section.settings.title != blank %}
                <h1 class="mt-3{% if section.settings.btn_text != blank and section.settings.text != blank %}mb-4{% endif %} {{ section.settings.hsize }} text-{{ section.settings.text_color }}">{{ section.settings.title }}
                </h1>
                {% endif %}
                {% if section.settings.text != blank %}
                <div class="mb-5 text-{{ section.settings.text_color }}"><p>{{ section.settings.text }}</p></div>
                {% endif %}
                {% if section.settings.btn_count != '0' and section.settings.btn_text != blank %}
                {% if section.settings.btn_count == "2" %}
                <div class="row gx-0 mt-4 justify-content-{{ section.settings.text_alignment }}">
                <div class="col-12 col-lg-auto">
                <a class="btn btn-{{ section.settings.btn_color }} btn-lg mx-2" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
                </div>
                <div class="col-12 col-lg-auto order-1 mt-3 my-lg-0">
                <a class="btn btn-{{ section.settings.btn_color2 }} btn-lg mx-2" href="{{ section.settings.btn_link_2 }}" role="button">{{ section.settings.btn_text_2 }}</a>
                </div>
                </div>
                {% else %}
                <a class="btn btn-{{ section.settings.btn_color }} btn-lg mx-2" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    {% if section.settings.show_line == true %}
    <div class="position-relative">
        <span class="line"></span>
    </div>
    {% endif %}
</section>


{% styles %}
    
.section-{{ section.id }} .hero .btn {
    min-width: 100px;
}
    
.section-{{ section.id }} .hero-text-box {
    background: {{ tb_hex }}{{ tb_opacity }};
}
    
.section-{{ section.id }} .video-container {
    width: 100vw;
    height: {{ section.settings.section_height }};
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    z-index: -999;
}

.section-{{ section.id }} .video-container video {
    min-width: 100vw;
    min-height: {{ section.settings.section_height }};
    width: 100%;
    height: auto;
}

.section-{{ section.id }} .video-hero_subtitle {
    font-family: {{ type_header_font }};
    font-weight: 400;
    font-style: italic;
}

.section-{{ section.id }} .hero_content {
    margin-top: -{{ section.settings.section_height }};
    height: {{ section.settings.section_height }};
}

.section-{{ section.id }} .hero_content-video {
    margin-top: -{{ section.settings.section_height }};
    height: {{ section.settings.section_height }};
    background: {{ bg_hex }}{{ bg_opacity }};
}

.section-{{ section.id }} .bg-color {
    background: {{ bg_hex }}{{ bg_opacity }};
    }

.section-{{ section.id }} .bg-image {
        background: linear-gradient({{ bg_hex }}{{ bg_opacity }}, {{ bg_hex }}{{ bg_opacity }}), url({{ section.settings.fallback_img | image_url }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

.section-{{ section.id }} .tb-top {
      padding-top: 120px;
}

.section-{{ section.id }} video[poster]{object-fit:cover}

.section-{{ section.id }} .line {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 30px;
    border: solid 1px {{ inverse_color_text }};
    opacity: 0.4;
    z-index: 1;
}

@media (min-aspect-ratio: 16/9) {
.section-{{ section.id }} iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
.section-{{ section.id }} iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}

@media screen and (max-width: 1024px) {
    
.section-{{ section.id }} .video-container {
        height: 80vh;
        background: linear-gradient({{ bg_hex }}{{ bg_opacity }}, {{ bg_hex }}{{ bg_opacity }}), url({{ section.settings.fallback_img | image_url }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

.section-{{ section.id }} iframe {
    display: none;    
}

.mobile-tb-down {
    background: url({{ section.settings.fallback_img | image_url }});
}
    
.section-{{ section.id }} .video-container video {
        display: none;
    }
    
.section-{{ section.id }} .hero_content .tb-top {
        padding-top: 0;
}

.section-{{ section.id }} .tb-up {
         margin-top: -80vh;
         height: 80vh;
}

.section-{{ section.id }} .tb-down {
         {% if section.settings.textbox_opacity == "0" or section.settings.textbox_color == blank %}
         background: {{ bg_hex }}{{ bg_opacity }};
         {% else %}
         background: {{ tb_hex }}{{ tb_opacity }};
         {% endif %}
         height: auto;
         margin-top: 0;
}

.section-{{ section.id }} .tb-down .hero-text-box {
        background: none;
 }
}



{% endstyles %}

{% schema %}
{
    "name": "Hero",
    "description": "A banner image with text overlay. It can be used at the top of a page with an H1 or as a CTA section when H2 or H3 is used as the heading size instead.",
    "settings": [
        {
            "type": "select",
            "id": "section_height",
            "label": "Section Height",
            "default": "75vh",
            "options": [
            {
                "label": "Small",
                "value": "50vh"
            },
            {
                "label": "Medium",
                "value": "75vh"
            },
            {
                "label": "Full Screen",
                "value": "100vh"
            }]
        },
        {
            "type": "select",
            "id": "mobile_section_height",
            "label": "Mobile Section Height",
            "default": "75vh",
            "options": [
            {
                "label": "Small",
                "value": "50vh"
            },
            {
                "label": "Medium",
                "value": "75vh"
            },
            {
                "label": "Full Screen",
                "value": "100vh"
            }]
        },
        {
            "type": "header",
            "content": "Background Media"
        },
        {
            "type": "text",
            "id": "video_url",
            "label": "Video URL (Youtube or Vimeo Embed Link only)"
        },
        {
            "type": "header",
            "content": "or"
        },
        {
            "type": "image_picker",
            "id": "video",
            "label": "Video Upload (accepts mp4 and webm)"
        },
        {
            "type": "image_picker",
            "id": "fallback_img",
            "label": "Fallback/Background Image",
            "default": "placeholder.webp"
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Overlay",
            "default": "background3",
            "options": [
                {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
                "type": "range",
                "id": "opacity",
                "label": "BG Color Opacity",
                "default": 40,
                "min": 0,
                "max": 100,
                "step": 10
        },
        {
            "type": "checkbox",
            "id": "show_line",
            "label": "Show Scroll Indicator",
            "default": "false"
        },
        {
            "type": "header",
            "content": "Content Settings"
        },
        {
            "type": "select",
            "id": "container_size",
            "label": "Content Width",
            "default": "8",
            "options": [
            {
                "label": "Small",
                "value": "6"
            },
            {
                "label": "Medium",
                "value": "8"
            },
            {
                "label": "Large",
                "value": "12"
            }]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Text Alignment",
            "default": "center",
            "options": [
                {
                    "label": "Left",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "end"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Long headline to turn your visitors into users"
        },
        {
            "type": "select",
            "id": "hsize",
            "label": "Heading Size",
            "default": "h1",
            "options": [
            {
                "label": "H1",
                "value": "h1"
            },
            {
                "label": "H2",
                "value": "h2"
            },
            {
                "label": "H3",
                "value": "h3"
            }]
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "select",
            "id": "btn_count",
            "label": "Button Count",
            "default": "0",
            "options": [
            {
                "label": "0",
                "value": "0"
            },
            {
                "label": "1",
                "value": "1"
            },
            {
                "label": "2",
                "value": "2"
            }]
        },
        {
            "type": "url",
            "id": "btn_link",
            "label": "Button 1 Link",
            "default": "#"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text",
            "default": "Button 1"
        },
        {
        "type": "select",
        "id": "btn_color",
        "default": "inverse-outline",
        "label": "Button 1 Type",
        "options": [
                    {
                        "label": "Solid",
                        "value": "solid"
                    },
                    {
                        "label": "Outline",
                        "value": "outline"
                    },
                    {
                        "label": "Inverse Outline",
                        "value": "inverse-outline"
                    },
                    {
                        "label": "Default Text",
                        "value": "default-text"
                    },
                    {
                        "label": "Inverse Text",
                        "value": "inverse-text"
                    }]
        },
        {
            "type": "url",
            "id": "btn_link_2",
            "label": "Button 2 Link",
            "default": "#"
        },
        {
            "type": "text",
            "id": "btn_text_2",
            "label": "Button 2 Label",
            "default": "Button 2"
        },
        {
        "type": "select",
        "id": "btn_color2",
        "default": "solid",
        "label": "Button 2 Type",
        "options": [
                    {
                        "label": "Solid",
                        "value": "solid"
                    },
                    {
                        "label": "Outline",
                        "value": "outline"
                    },
                    {
                        "label": "Inverse Outline",
                        "value": "inverse-outline"
                    },
                    {
                        "label": "Default Text",
                        "value": "default-text"
                    },
                    {
                        "label": "Inverse Text",
                        "value": "inverse-text"
                    }]
        },
        {
            "type": "header",
            "content": "Text Box Settings"
        },
        {
            "type": "checkbox",
            "id": "tb_desktop",
            "label": "Show Text Box Background on Desktop",
            "default": "false"
        },
        {
            "type": "checkbox",
            "id": "tb_down",
            "label": "Show Text Box Below Image on Mobile",
            "default": "false"
        },
        {
            "type": "select",
            "id": "textbox_color",
            "label": "Text Box Color",
            "options": [
                {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
                "type": "range",
                "id": "textbox_opacity",
                "label": "Text Box Color Opacity",
                "default": 0,
                "min": 0,
                "max": 100,
                "step": 10
        },
        {
            "type": "select",
            "id": "tb_vertical",
            "label": "Vertical Text Box Position",
            "default": "center",
            "options": [
                {
                    "label": "Top",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Bottom",
                    "value": "end"
                }
            ]
        },
        {
            "type": "select",
            "id": "tb_horizontal",
            "label": "Horizontal Text Box Position",
            "default": "center",
            "options": [
                {
                    "label": "Left",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "end"
                }
            ]
        }
    ]
}
{% endschema %}